
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    {% if request.user.is_authenticated %}
        <form method="post" action="{% url 'logout' %}" style="display:inline;">
            {% csrf_token %}
            <button type="submit">Logout</button>
        </form>
        <a href="{% url 'homepage' %}"><button>Home</button></a>
        {% if request.user.is_superuser %}
            <a href="{% url 'admin:index' %}"><button>Admin</button></a>
            <a href="{% url 'manage_permission_requests' %}"><button>Manage Permission Requests</button></a>
        {% endif %}
    {% endif %}
    {% block content %}{% endblock %}
</body>
</html>
